header.faible > :last-child {
	border-bottom: solid 3px #F9B233;
	display: inline-block;
	margin: 0 0 2em 0;
	padding: 0 0.75em 0.5em 0;
}

.faibleColor {
	color: #F9B233;
}

header.normal > :last-child {
	border-bottom: solid 3px #F9B233;
	display: inline-block;
	margin: 0 0 2em 0;
	padding: 0 0.75em 0.5em 0;
}

.normalColor {
	color: #F9B233;
}

header.forte > :last-child {
	border-bottom: solid 3px #000000;
	display: inline-block;
	margin: 0 0 2em 0;
	padding: 0 0.75em 0.5em 0;
}

.forteColor {
	color: #000000;
}

h3.profil > :last-child {
	border-bottom: solid 3px #F9B233;
	display: inline-block;
	margin: 0 0 2em 0;
	padding: 0 0.75em 0.5em 0;
}

.logo{
	max-width: 400px;
	height: auto;
}

.logo-large{
	max-width: 4000px;
    height: auto;
    position: absolute;
    left: 0%;
    top: 20px;
}

.logo-small{
	max-width: 1000px;
    height: auto;
    position: absolute;
    left: 10%;
    top: 20px;
}

.flag {
	height: 25px;
	width: auto;
}

.flag-small {
	height: 15px;
	width: auto;
	margin-bottom: -2px;
}

.home-block {
	padding: 20px !important;
    margin: 20px !important;
    border-radius: 15px;
	font-weight: bold;
}

.home-blocks {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

#login {
	position: absolute;
    top: 20px;
    right: 0px;
    border: solid 4px #f8dba6;
    padding: 8px;
    border-radius: 15px;
    font-weight: bold;
	font-size:1.2em;
}

#login i {
	margin-right: 5px;
	color: #f8dba6;
}

#login:hover {
	border: solid 4px #84a138;
	color: #84a138 !important;
}

#logout {
	position: absolute;
    top: 20px;
    right: 0px;
}