header.faible > :last-child {
	border-bottom: solid 3px #01B0F0;
	display: inline-block;
	margin: 0 0 2em 0;
	padding: 0 0.75em 0.5em 0;
}

.faibleColor {
	color: #01B0F0;
}

header.normal > :last-child {
	border-bottom: solid 3px #3498db;
	display: inline-block;
	margin: 0 0 2em 0;
	padding: 0 0.75em 0.5em 0;
}

.normalColor {
	color: #3498db;
}

header.forte > :last-child {
	border-bottom: solid 3px #000000;
	display: inline-block;
	margin: 0 0 2em 0;
	padding: 0 0.75em 0.5em 0;
}

.forteColor {
	color: #000000;
}

h3.profil > :last-child {
	border-bottom: solid 3px #3498db;
	display: inline-block;
	margin: 0 0 2em 0;
	padding: 0 0.75em 0.5em 0;
}

.logo{
	max-width: 400px;
	height: auto;
}

.logo-small{
	max-width: 200px;
	height: auto;
	position: absolute;
	left:38%;
	top: 20px;
}

.flag {
	height: 25px;
	width: auto;
}

.flag-small {
	height: 15px;
	width: auto;
	margin-bottom: -2px;
}

.home-block {
	padding: 20px !important;
    margin: 20px !important;
    border-radius: 15px;
}

.home-blocks {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}